.form {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #13547a;
  border: 1px solid #80d0c7;
  color: white;
  padding: 0.25rem 0rem;
  width: 3.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #124a6b;
}
